language: go

go:
  - "1.8"
  - "1.9"
  - "1.10"
  - "1.11"
  - master

env:
  global:
    - REVIEW_DOG_ON=1.11
    - REVIEW_DOG_VERSION=0.9.11

branches:
  only:
    - master

install:
  - |
    if [ ${TRAVIS_GO_VERSION} == ${REVIEW_DOG_ON} ]; then
      mkdir -p ${GOPATH}/bin
      go get -u golang.org/x/lint/golint
      curl -s -L https://github.com/haya14busa/reviewdog/releases/download/${REVIEW_DOG_VERSION}/reviewdog_linux_amd64 > ${GOPATH}/bin/reviewdog
      chmod +x ${GOPATH}/bin/reviewdog
    fi
  - go get -t ./...
script:
  - go build
  - |
    if [[ ! ${TRAVIS_GO_VERSION} =~ ^1\.(8|9)(\.[0-9]+){0,1}$ ]]
    then
      echo "Enable coverage report"
      REPORT_COVERAGE=1
      TEST_ARG="-coverprofile=coverage.txt -covermode=atomic -coverpkg=all"
    fi
  - go test ${TEST_ARG} ./...
  - go vet ./...
  - |
    if [ ${TRAVIS_GO_VERSION} == ${REVIEW_DOG_ON} ]; then
      golint ./... | reviewdog -f=golint -reporter=github-pr-review
    fi
after_success:
  - |
    if [[ ${REPORT_COVERAGE} == 1 ]]
    then
      echo "Reporting coverage"
      bash <(curl -s https://codecov.io/bash)
    fi
